@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
  border: none;
  border-radius: 3;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
}

window#waybar {
  background: transparent;
  color: @text;
  /* transition-property: background-color; */
  /* transition-duration: 1s; */
}

#custom-powermenu {
  margin-top: 6px;
  margin-left: 12px;
  padding-left: 16px;
  padding-right: 20px;
  border-radius: 8px;
  font-size: 20px;
  transition: none;
  color: #fff;
  background: #88c0d0;
}

#mode {
  margin-top: 6px;
  margin-left: 12px;
  padding-left: 16px;
  padding-right: 20px;
  border-radius: 8px;
  transition: none;
  background: #2e3440;
}

#workspaces {
  margin-top: 6px;
  margin-left: 12px;
  padding-left: 16px;
  padding-right: 20px;
  border-radius: 8px;
  transition: none;
  background: @surface0;
}

#workspaces button {
  transition: none;
  color: #4c566a;
  background: transparent;
  border-radius: 0px;
}

#workspaces button.active {
  color: @mauve;
}

#workspaces button.focused {
  color: #81a1c1;
  border-bottom: 2px solid #81a1c1;
}

#temperature {
  margin-top: 6px;
  margin-left: 12px;
  /*margin-right: 12px;*/
  border-radius: 8px;
  transition: none;
  padding: 0 10px;
  color: #88c0d0;
  background: @surface0;
}

#pulseaudio {
  margin-top: 6px;
  margin-left: 12px;
  border-radius: 8px;
  transition: none;
  padding: 0 10px;
  color: #a3be8c;
  background: @surface0;
}

#battery {
  margin-top: 6px;
  margin-left: 12px;
  /* margin-right: 12px; */
  border-radius: 8px;
  transition: none;
  padding: 10px 10px;
  color: #a3be8c;
  background: @surface0;
}

#battery.critical:not(.charging) {
  background-color: #d8dee9;
  color: #2e3440;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #bf616a;
    color: #d8dee9;
  }
}

#backlight {
  margin-top: 6px;
  margin-left: 12px;
  border-radius: 8px;
  transition: none;
  padding: 10px 10px;
  color: #a3be8c;
  background: @surface0;
}

#custom-wl-gammarelay-temperature {
  margin-top: 6px;
  margin-left: 12px;
  border-radius: 8px;
  transition: none;
  padding: 10px 10px;
  color: #a3be8c;
  background: @surface0;
}

#cpu {
  margin-top: 6px;
  margin-left: 6px;
  border-radius: 8px;
  transition: none;
  padding: 10px 10px;
  color: #88c0d0;
  background: @surface0;
}

#memory {
  margin-top: 6px;
  margin-left: 12px;
  border-radius: 8px;
  transition: none;
  padding: 10px 10px;
  color: #88c0d0;
  background: @surface0;
}

#clock {
  margin-top: 6px;
  margin-left: 12px;
  border-radius: 8px;
  transition: none;
  padding: 10px 10px;
  color: #a3be8c;
  background: @surface0;
}

/* #tray { */
/*   margin-top: 6px; */
/*   margin-right: 12px; */
/*   border-radius: 8px; */
/*   padding-left: 10px; */
/*   padding-right: 10px; */
/*   color: #d8dee9; */
/*   background: @surface0; */
/* } */

#network {
  margin-top: 6px;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  color: #A3BE8C;
  background: @surface0;
}

#tray {
  margin-top: 6px;
  margin-left: 12px;
  border-radius: 8px;
  transition: none;
  padding: 0 10px;
  color: #a3be8c;
  background: @surface0;
}

#idle_inhibitor {
  margin-top: 6px;
  margin-left: 12px;
  border-radius: 8px;
  transition: none;
  padding: 0 10px;
  color: #b48ead;
  background: @surface0;
}

#custom-media {
  margin-top: 6px;
  margin-left: 12px;
  border-radius: 8px;
  transition: none;
  padding: 0 20px 0 20px;
  color: #a3be8c;
  background: @surface0;
}
